/*is going to control the css of the "background"*/
.header-container{
    color: yellow;
    border-width: bold;
    background-color: rgb(181, 197, 6);
    width: 20%;
    position: flex;
    margin-left: 50%; 
    margin-right: 50%;
    top: 0; 
    text-align: center;

}

/*is going to control the css of the actual header text*/
.header-title{
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-color: white;
}
